@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #00AA6E;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #028a5a;
  }
